USE [master]
GO
/****** Object:  Database [Administracion]    Script Date: 04/05/2018 16:36:14 ******/
CREATE DATABASE [Administracion] ON  PRIMARY 
( NAME = N'Administracion', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.VALEVALERIA\MSSQL\DATA\Administracion.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Administracion_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.VALEVALERIA\MSSQL\DATA\Administracion_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Administracion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Administracion]
GO
/****** Object:  Table [dbo].[DEPOSITOS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPOSITOS](
	[ID_DEPOSITO] [int] IDENTITY(1,1) NOT NULL,
	[DEPO_NOMBRE] [varchar](50) NOT NULL,
	[DEPO_DIRECCION] [varchar](100) NOT NULL,
	[DEPO_LOCALIDAD] [varchar](50) NOT NULL,
	[DEPO_CODIGO] [varchar](30) NOT NULL,
 CONSTRAINT [PK_DEPOSITOS] PRIMARY KEY CLUSTERED 
(
	[ID_DEPOSITO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[CLI_NOMBRES] [varchar](30) NOT NULL,
	[CLI_APELLIDO] [varchar](30) NOT NULL,
	[CLI_DNI] [char](8) NOT NULL,
	[CLI_DIRECCION] [varchar](50) NOT NULL,
	[CLI_LOCALIDAD] [varchar](30) NOT NULL,
	[CLI_TEL_1] [varchar](15) NOT NULL,
	[CLI_TEL_2] [varchar](15) NULL,
	[CLI_MAIL] [varchar](50) NULL,
	[CLI_TIPO] [varchar](10) NULL,
	[CLI_CONTRATO] [varchar](10) NULL,
	[CLI_FECHA_ALTA] [date] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMAS_DE_PAGO]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMAS_DE_PAGO](
	[ID_FORM_DE_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[FDP_DESCRIPCION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_FORMAS_DE_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_FORM_DE_PAGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USU_USUARIO] [varchar](15) NOT NULL,
	[USU_CONTRASEÑA] [varchar](8) NOT NULL,
	[USU_PERFIL] [varchar](15) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[ID_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[PROV_NOMBRE] [varchar](50) NOT NULL,
	[PROV_DIRECCION] [varchar](100) NOT NULL,
	[PROV_TEL_1] [varchar](15) NOT NULL,
	[PROV_TEL_2] [varchar](15) NULL,
	[PROV_MAIL] [varchar](50) NULL,
	[PROV_URL] [varchar](100) NULL,
	[PROV_LOCALIDAD] [varchar](50) NOT NULL,
	[PROV_CODIGO] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PROVEEDORES] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTOS_TIPOS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS_TIPOS](
	[ID_PROD_TIPO] [int] IDENTITY(1,1) NOT NULL,
	[PROD_TIPO_DESC] [varchar](100) NOT NULL,
	[PROD_TIPO_CODIGO] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PRODUCTOS_TIPOS] PRIMARY KEY CLUSTERED 
(
	[ID_PROD_TIPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[ID_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[VENT_FECHA] [date] NOT NULL,
	[VENT_SUBTOTAL] [decimal](7, 2) NOT NULL,
	[VENT_TOTAL] [decimal](7, 2) NOT NULL,
	[VENT_CANTIDAD] [int] NOT NULL,
	[ID_FORM_DE_PAGO] [int] NOT NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[PROD_CODIGO] [varchar](30) NOT NULL,
	[PROD_DESCRIPCION] [varchar](100) NOT NULL,
	[PROD_PRECIO_COSTO] [decimal](7, 2) NOT NULL,
	[PROD_PRECIO_VTA] [decimal](7, 2) NOT NULL,
	[PROD_STOCK] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_DEPOSITO] [int] NOT NULL,
	[ID_PROD_TIPO] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICIOS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVICIOS](
	[ID_SERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[SERV_DIRECCION] [varchar](50) NOT NULL,
	[SERV_LOCALIDAD] [varchar](50) NOT NULL,
	[SERV_TEL_1] [varchar](15) NOT NULL,
	[SERV_TEL_2] [varchar](15) NULL,
	[SERV_TEL_3] [varchar](15) NULL,
	[SERV_DESCRIPCION] [varchar](200) NULL,
 CONSTRAINT [PK_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EQUIPOS_X_SERVICIOS]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPOS_X_SERVICIOS](
	[ID_EQUI_X_SERV] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[EXS_CANTIDAD] [int] NOT NULL,
	[EXS_FECHA_INSTALACION] [date] NOT NULL,
	[ID_SERVICIO] [int] NOT NULL,
 CONSTRAINT [PK_EQUIPOS_X_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ID_EQUI_X_SERV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROD_X_VTA]    Script Date: 04/05/2018 16:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROD_X_VTA](
	[ID_PROD_X_VTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[PXV_CANTIDAD] [int] NOT NULL,
	[PXV_PRECIO_X_PRODUCTO] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_DETALLE_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_PROD_X_VTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_VENTAS_FORMAS_DE_PAGO]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_FORMAS_DE_PAGO] FOREIGN KEY([ID_FORM_DE_PAGO])
REFERENCES [dbo].[FORMAS_DE_PAGO] ([ID_FORM_DE_PAGO])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_FORMAS_DE_PAGO]
GO
/****** Object:  ForeignKey [FK_PRODUCTOS_DEPOSITOS]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_DEPOSITOS] FOREIGN KEY([ID_DEPOSITO])
REFERENCES [dbo].[DEPOSITOS] ([ID_DEPOSITO])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_DEPOSITOS]
GO
/****** Object:  ForeignKey [FK_PRODUCTOS_PRODUCTOS_TIPOS]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_PRODUCTOS_TIPOS] FOREIGN KEY([ID_PROD_TIPO])
REFERENCES [dbo].[PRODUCTOS_TIPOS] ([ID_PROD_TIPO])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_PRODUCTOS_TIPOS]
GO
/****** Object:  ForeignKey [FK_PRODUCTOS_PROVEEDORES]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_PROVEEDORES] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDORES] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_PROVEEDORES]
GO
/****** Object:  ForeignKey [FK_SERVICIOS_CLIENTES]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_SERVICIOS_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[SERVICIOS] CHECK CONSTRAINT [FK_SERVICIOS_CLIENTES]
GO
/****** Object:  ForeignKey [FK_EQUIPOS_X_SERVICIOS_PRODUCTOS]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[EQUIPOS_X_SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPOS_X_SERVICIOS_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[EQUIPOS_X_SERVICIOS] CHECK CONSTRAINT [FK_EQUIPOS_X_SERVICIOS_PRODUCTOS]
GO
/****** Object:  ForeignKey [FK_EQUIPOS_X_SERVICIOS_SERVICIOS]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[EQUIPOS_X_SERVICIOS]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPOS_X_SERVICIOS_SERVICIOS] FOREIGN KEY([ID_SERVICIO])
REFERENCES [dbo].[SERVICIOS] ([ID_SERVICIO])
GO
ALTER TABLE [dbo].[EQUIPOS_X_SERVICIOS] CHECK CONSTRAINT [FK_EQUIPOS_X_SERVICIOS_SERVICIOS]
GO
/****** Object:  ForeignKey [FK_PROD_X_VTA_PRODUCTOS]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[PROD_X_VTA]  WITH CHECK ADD  CONSTRAINT [FK_PROD_X_VTA_PRODUCTOS] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PROD_X_VTA] CHECK CONSTRAINT [FK_PROD_X_VTA_PRODUCTOS]
GO
/****** Object:  ForeignKey [FK_PROD_X_VTA_VENTAS]    Script Date: 04/05/2018 16:36:17 ******/
ALTER TABLE [dbo].[PROD_X_VTA]  WITH CHECK ADD  CONSTRAINT [FK_PROD_X_VTA_VENTAS] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[PROD_X_VTA] CHECK CONSTRAINT [FK_PROD_X_VTA_VENTAS]
GO
