<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <clear/>
        <add name="WindowsApplication1.My.MySettings.AdministracionConnectionString" connectionString="Data Source=VALE\VALEVALERIA;Initial Catalog=Administracion;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
